html,body{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}
.lay{
    width: 100%;
    height: 50%;
}
.lay div{
    width: 50%;
    height: 100%;
    float: left;
}
.North{
    background-image: url(../image/North-1.jpg);
    background-size: 100%;
    opacity: 0.;
}
.North-East{
    background-image: url(../image/North-east-1.png);
    background-size: 100%;
}
.Central{
    background-image: url(../image/Central-1.jpg);
    background-size: 100%;
}
.South{
    background-image: url(../image/South-1.jpg);
    background-size: 100%;
}
a{
    opacity: 0.5;
}
a:hover{
    opacity: 1;
}
h1{
    color: rgb(0, 0, 0);
    padding-left: 45%;
    padding-top: 20%;
}